---
layout: archive
title: "Academics"
permalink: /academics/
author_profile: true
---

<!--
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->

<!-- 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

-->


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Electrical Engineering
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-739-processor-design/" target="_blank" rel="noopener" style="text-decoration: none;">EE739</a> – Processor Design <br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-338-digital-signal-processing/" target="_blank" rel="noopener" style="text-decoration: none;">EE338</a> – Digital Signal Processing<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-344-electronic-design-lab/" target="_blank" rel="noopener" style="text-decoration: none;">EE344</a> – Electronic Design Lab<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-350-technical-communication/" target="_blank" rel="noopener" style="text-decoration: none;">EE350</a> – Technical Communication<br>
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">EE691</a> – R & D Project<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-789-algorithmic-design-of-digital-systems/" target="_blank" rel="noopener" style="text-decoration: none;">EE789</a> – Algorithmic Design of Digital Systems<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-236-electronic-devices-laboratory/" target="_blank" rel="noopener" style="text-decoration: none;">EE236</a> – Electronic Devices Lab<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-301-electromagnetic-waves/" target="_blank" rel="noopener" style="text-decoration: none;">EE301</a> – Electromagnetic Waves<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-324-control-systems-laboratory/" target="_blank" rel="noopener" style="text-decoration: none;">EE324</a> – Control Systems Lab<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-340-communications-laboratory/" target="_blank" rel="noopener" style="text-decoration: none;">EE340</a> – Communications Lab<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-341-communication-systems-i/" target="_blank" rel="noopener" style="text-decoration: none;">EE341</a> – Communication Systems - I<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-353-introduction-to-data-science-and-machine-learning/" target="_blank" rel="noopener" style="text-decoration: none;">EE353</a> – Introduction to Data Science and Machine Learning<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-207-electronic-devices-and-circuits/" target="_blank" rel="noopener" style="text-decoration: none;">EE207</a> – Electronic Devices & Circuits<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-230-analog-circuits-laboratory/" target="_blank" rel="noopener" style="text-decoration: none;">EE230</a> – Analog Lab<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-236-power-engineering-ii/" target="_blank" rel="noopener" style="text-decoration: none;">EE238</a> – Power Engineering - II<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-240-power-engineering-lab/" target="_blank" rel="noopener" style="text-decoration: none;">EE240</a> – Power Engineering Lab<br>
  <a href="https://www.ee.iitb.ac.in/~belur/ee302/" target="_blank" rel="noopener" style="text-decoration: none;">EE302</a> – Control Systems<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-309-microprocessors/" target="_blank" rel="noopener" style="text-decoration: none;">EE309</a> – Microprocessors<br>
  <a href="https://ee337.github.io/" target="_blank" rel="noopener" style="text-decoration: none;">EE337</a> – Microprocessors Laboratory<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-114-power-engineering-i/" target="_blank" rel="noopener" style="text-decoration: none;">EE114</a> – Power Engineering - I<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-204-analog-circuits/" target="_blank" rel="noopener" style="text-decoration: none;">EE204</a> – Analog Circuits<br>
  <a href="https://ee214.github.io/" target="_blank" rel="noopener" style="text-decoration: none;">EE214</a> – Digital Circuits Lab<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-224-digital-systems/" target="_blank" rel="noopener" style="text-decoration: none;">EE224</a> – Digital Systems<br>
  <a href="https://www.ee.iitb.ac.in/web/course_lists/ee-227-microelectronics/" target="_blank" rel="noopener" style="text-decoration: none;">EE229</a> – Signal Processing - I<br>
  <a href="https://www.ee.iitb.ac.in/~bsraj/courses/ee325/" target="_blank" rel="noopener" style="text-decoration: none;">EE325</a> – Probability and Random Processes
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Computer Science & Engineering 
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">CS490</a> – R & D Project <br>
  <a href="https://www.cse.iitb.ac.in/~mp/teach/ds/aut20/" target="_blank" rel="noopener" style="text-decoration: none;">CS207</a> – Discrete Structures<br>
  <a href="https://www.cse.iitb.ac.in/~cs101/" target="_blank" rel="noopener" style="text-decoration: none;">CS101</a> – Computer Programming and Utilization
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Centre for Machine Intelligence and Data Science
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://www.minds.iitb.ac.in/site/academic-document/16169efe-61d8-11ee-995a-f8b156be9900-DS-203.pdf" target="_blank" rel="noopener" style="text-decoration: none;">DS203</a> – Programming for Data Science
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Mathematics
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://www.math.iitb.ac.in/~preeti/ma108-2019/" target="_blank" rel="noopener" style="text-decoration: none;">MA108</a> – Differential Equations<br>
  <a href="https://www.math.iitb.ac.in/~ars/MA106.html" target="_blank" rel="noopener" style="text-decoration: none;">MA106</a> – Linear Algebra<br>
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">MA111</a> – Calculus II <br>
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">MA109</a> – Calculus I
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Physics
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">PH112</a> – Introduction to Quantum Physics <br>
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">PH111</a> – Introduction to Classical Physics<br>
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">PH117</a> – Physics Lab
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Biosciences and Bioengineering
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://www.bio.iitb.ac.in/academics/courses/bb101/" target="_blank" rel="noopener" style="text-decoration: none;">BB101</a> – Biology
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  IDC School of Design
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">DE342</a> – Concept Ideation in VR <br>
  <a href="https://insightiitb.org/wicked-problems-innovative-solutions-the-new-de250-course-at-iitb/" target="_blank" rel="noopener" style="text-decoration: none;">DE250</a> – Design Thinking for Innovation<br>
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">DE109</a> – Introduction to Design
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Mechanical Engineering
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://makerspace.iitb.ac.in/home" target="_blank" rel="noopener" style="text-decoration: none;">MS101</a> – Makerspace
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Chemical Engineering
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">CL102</a> – Material and Energy Balances<br>
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">CL101</a> – Introduction to Chemical Engineering
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Chemistry
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://www.chem.iitb.ac.in/courses_inner/860" target="_blank" rel="noopener" style="text-decoration: none;">CH107</a> – Physical Chemistry <br>
  <a href="https://www.chem.iitb.ac.in/courses_inner/848" target="_blank" rel="noopener" style="text-decoration: none;">CH105</a> – Organic & Inorganic Chemistry <br>
  <a href="https://www.chem.iitb.ac.in/courses_inner/863" target="_blank" rel="noopener" style="text-decoration: none;">CH117</a> – Chemistry Lab
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Economics
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">EC101</a> – Economics
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Shailesh J. Mehta School of Management
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://tandonmitul27.github.io/academics/" style="text-decoration: none;">SOM101</a> – Introduction to Management
</div>







