---
layout: archive
title: "Academics"
permalink: /academics/
author_profile: true
---

<!--
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->

<!-- 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

-->


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Electrical Engineering
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Processor Design <br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Digital Signal Processing<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Electronic Design Lab<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Technical Communication<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – R & D Project<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Algorithmic Design of Digital Systems<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Electronic Devices Lab<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Electromagnetic Waves<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Control Systems Lab<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Communications Lab<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Communication Systems - I<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Introduction to Data Science and Machine Learning<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Electronic Devices & Circuits<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Analog Lab<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Power Engineering - II<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Power Engineering Lab<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Control Systems<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Microprocessors<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Microprocessors Laboratory<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Power Engineering - I<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Analog Circuits<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Digital Circuits Lab<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Digital Systems<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Signal Processing – I<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Probability and Random Processes
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Computer Science & Engineering 
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – R & D Project <br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Discrete Structures<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Computer Programming and Utilization
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Mathematics
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Calculus II <br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Calculus I<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Differential Equations<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Linear Algebra
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Physics
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Introduction to Quantum Physics <br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Introduction to Classical Physics<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Physics Lab
</div>


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  IDC School of Design
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Concept Ideation in VR <br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Design Thinking for Innovation<br>
  <a href="https://example.com/ee101" target="_blank" rel="noopener" style="text-decoration: none;">EE101</a> – Introduction to Design
</div>




