---
layout: archive
title: "Academics"
permalink: /academics/
author_profile: true
---

<!--
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->

<!-- 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

-->


<h2 style="font-size: 25px; font-weight: 600; margin-bottom: 0rem;">
  Department of Electrical Engineering
</h2>

<hr style="border: 1px solid #000; margin-bottom: 1rem;">

<div style="font-size: 16px; line-height: 1.6;">
  <a href="https://example.com/ee101" target="_blank" rel="noopener">EE101</a>: SSDC<br>
  <a href="https://example.com/ee102" target="_blank" rel="noopener">EE102</a>: Digital Logic Design<br>
  <a href="https://example.com/ee209" target="_blank" rel="noopener">EE209</a>: Microprocessors<br>
  <a href="https://example.com/ee210" target="_blank" rel="noopener">EE210</a>: Analog Circuits
</div>
