/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);

  @include clearfix();
  margin-bottom: 1em;

  @media (orientation: portrait) {
    margin-top: 1em;
  }

  @media screen and (min-width: $sidebar-screen-min-width) {
    height: 100vh;
    overflow-y: auto;               // Add scrollbar if the sidebar is too long
    position: fixed;
    padding-top: $masthead-height;
  }

  @include breakpoint($large) {
    @include span(2 of 12);
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  @include breakpoint($x-large) {
    max-width: $sidebar-link-max-width;
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;

  @include breakpoint($large) {
    width: auto;
    height: auto;
  }

  img {
    max-width: 175px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid var(--global-border-color);
    }
  }
}

.author__content {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  margin-top: 10px;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-left: 25px; /* Added to align institution/location */
    text-align: left; /* Changed to left */
  }
}

.sidebar .author__name {
  font-family: $sans-serif;
  font-size: $type-size-5;
  text-align: center;
  margin: 10px 0;
}

/* Right-shifted elements */
.sidebar .author__desktop {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
    padding-left: 25px; /* Right shift */
  }
}

.author__pronouns {
  margin: 0;
  text-align: center;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 25px; /* Right shift */
  }
}

.author__bio {
  margin: 0;
  text-align: center;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 25px; /* Right shift */
  }
}

.author__urls-wrapper {
  position: relative;
  display: block;
  text-align: center;
  font-family: $sans-serif;
  z-index: 10;
  cursor: pointer;
  margin-top: 15px;

  @include breakpoint($large) {
    text-align: left;
    padding-left: 25px; /* Right shift */
  }

  button {
    margin-bottom: 0;

    @include breakpoint($large) {
      display: none;
    }
  }
}

.author__urls {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 15px auto 0;
  width: 90%;
  padding: 15px;
  list-style-type: none;
  border: 1px solid var(--global-border-color);
  border-radius: $border-radius;
  background: var(--global-bg-color);
  z-index: -1;
  box-shadow: 0 0 10px rgba(#000, 0.25);
  cursor: default;
  text-align: left;

  @include breakpoint($large) {
    display: block;
    position: relative;
    width: auto;
    margin: 0;
    padding: 0 0 0 25px; /* Right shift */
    border: 0;
    background: transparent;
    box-shadow: none;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -11px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: var(--global-border-color) transparent;
    z-index: 0;

    @include breakpoint($large) {
      display: none;
    }
  }

  li {
    white-space: nowrap;
    padding: 3px 0;
  }

  a {
    display: block;
    padding: 5px 10px 5px 0; /* Right shift */
    color: inherit;
    font-size: $type-size-5;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.2s;

    &:hover {
      text-decoration: none;
      background-color: rgba(0,0,0,0.05);
    }
  }
}
